{% extends "main.html" %}

{% block content %}
<script>
    
    function checkForm(){
       if($.trim($("#email").val()) == ""){
           alert("이메일을 입력하세요.");
           $("#email").focus()
           return false;
       }

       if(!validateEmail($.trim($("#email").val()))) {
           alert("유효하지 않은 이메일 형식입니다.");
           $("#email").focus()
           return false;
       }

       if($.trim($("#pass").val()) == ""){
           alert("비밀번호를 입력하세요.");
           $("#pass").focus()
           return false;
       }
       return true;
   } 
</script>

<form name="form" action="{{url_for('member.member_login')}}" method="POST" onsubmit="return checkForm()">
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
    {% if next_url %}
        <input type="hidden" name="next_url" value="{{next_url}}">
    {% endif %}
    <div class="form-group">
        <label for="email">이메일</label>
        <input class="form-control" input type="text" name="email" id="email" placeholder="이메일을 입력하세요.">
    </div>
    <div class="form-group">
        <label for="password">비밀번호</label>
        <input class="form-control" input type="password" name="pass" id="pass" placeholder="비밀번호를 입력하세요.">
    </div>
    <div class="text-center"><input class="btn btn-primary" type="submit" value="로그인"></div>
</form>

{% endblock %}